
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Artists App</title>
  <link rel="stylesheet" href="/css/homepage.css">
</head>
<body>
  <%- include('../partials/html-head') %>
  <%- include('../partials/nav') %>

  <div id="main-title">
    <h1 id="main-title"Welcome to Furni!></h1>
  </div>

  
</body>
</html>